

@font-face {
    font-family: "<%= fontName %>";
    src: url('<%= fontPath %><%= fontName %>.eot');
    src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
        url('<%= fontPath %><%= fontName %>.woff') format('woff'),
        url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
        url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

<% _.each(glyphs, function(glyph) { %>
$icon-<%= glyph.name %>: "<%= glyph.unicode %>";
.icon-<%= glyph.name %> { @include icon-custom($<%= glyph.name %>); }
<% }); %>

@mixin icon-custom($char) {
    font-family: "<%= fontName %>";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    &:before {
        content: $char;
    }
}
