.<%= iconPrefix %> {
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    display: inline;
    font-family: '<%= fontFaceName %>';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    line-height: 2;
    margin-top: 0;
    speak: none;
    text-transform: none;
    vertical-align: baseline;
    width: auto;
}

@mixin icon-custom($char) {
    &:before {
        content: $char;
    }
}


@font-face {
    font-family: '<%= fontFaceName %>';
    src: url('<%= fontPath %><%= fontFaceName %>.eot');
    src: url('<%= fontPath %><%= fontFaceName %>.eot?#iefix') format('eot'),
        url('<%= fontPath %><%= fontFaceName %>.woff') format('woff'),
        url('<%= fontPath %><%= fontFaceName %>.ttf') format('truetype'),
        url('<%= fontPath %><%= fontFaceName %>.svg#<%= fontFaceName %>') format('svg');
}

<% _.each(glyphs, function(glyph) { %>
$<%= iconPrefix %>-<%= glyph.name %>: '<%= glyph.unicode %>';
.<%= iconPrefix %>-<%= glyph.name %> { @include icon-custom($<%= iconPrefix %>-<%= glyph.name %>); }
<% }); %>
