<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= fontFaceName %> Specimen</title>
    <link rel="stylesheet" href="main.css">
    <style>
        body {
            font-family: sans-serif;
            font-size: 20pt;
        }
        td {
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <h1><%= fontFaceName %> Specimen</h1>

    <table>
        <tr>
            <th>name</th>
            <th>new</th>
        </tr>
    <% _.each(glyphs, function(glyph) { %>
        <tr>
            <td><%= glyph.name %></td>
            <td><p class="<%= iconPrefix %> <%= iconPrefix %>-<%= glyph.name %>"></p></td>
        </tr>
    <% }); %>
    </table>
</body>
</html>
